.gallery {
    grid-column: 1 /-1;
}


.gallery-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    padding: 20px 80px;
    /* text-align: center; */
    grid-gap: 1rem;
    grid-template-areas: 
    "gallery-1 gallery-1 gallery-2"
    "gallery-3 gallery-4 gallery-2"
    "gallery-3 gallery-5 gallery-5";
}

img {
    width: 100%;
    border-radius: 15px;
    height: 100%;
}

.gallery-image1 {
    grid-area: gallery-1;
}

.gallery-image2 {
    grid-area: gallery-2;
}

.gallery-image3 {
    grid-area: gallery-3;
}

.gallery-image4 {
    grid-area: gallery-4;
}

.gallery-image5 {
    grid-area: gallery-5;
}

@media screen and (max-width: 1000px) {
    .gallery-section {
        grid-template-areas: 
        "gallery-1 gallery-1 gallery-2"
        "gallery-3 gallery-4 gallery-4"
        "gallery-5 gallery-5 gallery-5";
    }
}

@media screen and (max-width: 800px) {
    .gallery-section {
        grid-template-areas: 
        "gallery-1  gallery-2"
        "gallery-3 gallery-4"
        "gallery-5 gallery-5";
        grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 280px);
    }
}

@media screen and (max-width: 600px) {
    .gallery-section {
        grid-template-areas: 
            "gallery-1"
            "gallery-2"
            "gallery-3"
            "gallery-4"
            "gallery-5";
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(5, 200px);
            padding: 6rem;
    }
}